{% extends "base.html" %}

{% block content %}

  <h1 style="color: Blue; font-size:30px;" class="myfont">About Page: </h1>
  <ul>
    <li><h3 class="myfont" style='padding-bottom:10px;'>This is Private Blog Website.</h3></li>
    <li><h4 class="myfont" style='padding-bottom:10px;'>This is blog where only admin able to create post, update post and delete post.</h4></li>
    <li><h4 class="myfont" style='padding-bottom:10px;'>Normal user only can view admin's post, like admin post, create comment and delete their own comment.</h4></li>
  </ul>

{% endblock %}
